{% extends 'base.html' %}

{% block title %}HackersPoint | Home{% endblock title %}

{% block homeactive %} active {% endblock homeactive %}

{% block body %}
<div class="img-fluid p-4 p-md-5 mb-4 text-white rounded ">
    <img class="img-fluid mr-3 ml-3" src="/static/img/banner.jpg" alt="/static/img/banner.jpg" width="100%">
</div>
<b>
    <hr style="border: 1px solid black;">
</b>

<div class="container my-3">
    <h2 class="mb-3">Welcome to HackersPoint Official:</h2>
    <h3 class="m-3">We serves You the following:</h3><br>
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative my3">
        
        <div class="col p-4 d-flex flex-column position-static m-3">
            <h3 class="mb-0">Mobile Hacks:</h3><br>
            <p class="card-text mb-auto">This site doesn't break any type of rule and we are the team of Ethical Hackers.</p>
            <ul>
                <li class="my-3"><b>Modded APK:</b>
                    <div><p>A MOD APK is a modified version of an original APK(Android Package).
                        ‘Mod’ means ‘Modified’.
                        Mod apk hasn't originally signed by the original developers of app. So no support from original developers.
                        Mod APKs may have extra features, unlocked features, unlimited inApp/Game currency(for games), sometimes extra support, and many other modifications.
                        Mod APKs may have extra features, unlocked features, unlimited inApp/Game currency(for games), sometimes extra support, and many other modifications.</p>
                    <p>Android operating system is made to run the APK files, which can be simply referred as Android Apps Setup file, just as the .exe in Windows. Whenever a Third party edits this .apk, to get some different functioning from the app, from removing adverts, added functionalities or even stripped off functionalities. </p></div>
                </li>
                <li>
                    <b>Game Hacks:</b>
                    <p>We are provide you to how we are working in the background, to hack any game or make it a Modded APK in the background. If you are intrested to do sa then you should Subscribe our Youtube channel, share our videos, join us on Telegram, Instagram.</p>
                </li>
            </ul>
        </div>
        <div class="col-auto d-none d-lg-block">
        </div>
    </div>
</div>


<div class="container my-3">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative my3">
        <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Software Hacks and Glitches:</h3><br>
            <p class="card-text mb-auto">We provide you the next level tips and tricks or glitches no matter of what it should be.</p>
            <ul>
                <li class="my-3"><b>Tips and Tricks:</b>
                    <p>Many hardcore computer users might consider themselves above learning new tricks, but there are always new ways to sharpen your skills on the PC and we bet that you will find at least one useful thing here that you didn't know before.

                        We've compiled some of the most handy computer tricks you should be taking advantage of. The ultimate goal is to help you become more productive by shaving valuable seconds off your workflow. Of course, you can always pass along these tips to your not-so-savvy friends and family members to help them become better PC users as well.</p>
                </li>
                <li>
                    <b>Paid Softwares:</b>
                    <p>We Provide you the Premium Softwares free with a legal way. When you download the software from our site, no Virus is downloaded with that file, meaning that if you download any software from another site, Viruses may be downloaded with that software. Because of which you start having problems, but there is nothing like this from HackersPoint, because we wre tried 1000 times before we Publish any type of Software you can download and use anything from our website without any fear..</p>
                </li>
            </ul>
        </div>
        <div class="col-auto d-none d-lg-block">
        </div>
    </div>
</div>
</div>
{% endblock body %}